  nodered:
    restart: always
    image: audumla/audiot-rpi-nodered
    command: flows.json
    volumes:
      - /home/pi/node-red:/root/.node-red
      - /etc/localtime:/etc/localtime
      - /lib/modules:/lib/modules
    ports: 
      - "1880:1880"
    links:
      - mosquitto
    privileged: true
    cap_add:
      - SYS_RAWIO
  
  mosquitto:
    restart: always
    image: nieleyde/rpi-mosquitto
    volumes:
      - /etc/localtime:/etc/localtime
    ports:
      - "1883:1883"
